# Python 3.9+ (diuji pada 3.11.9)
tensorflow==2.15.0
keras==2.15.0
pandas==2.2.2
scikit-learn==1.5.0
numpy==1.26.4
jupyter==1.0.0
matplotlib==3.8.4
seaborn==0.13.2
plotly==5.22.0
imbalanced-learn==0.12.3
geopy==2.4.1
requests==2.32.3
